#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	cp debian/build_config.rb build_config.rb
	rake mruby

override_dh_auto_build:
	rake

override_dh_auto_install:
	mkdir -p debian/mitamae/usr/bin
	find . -name 'mitamae'
	install -m755 mruby/build/host/bin/mitamae debian/mitamae/usr/bin/
	install -m755 mruby/build/host/bin/mitamae-secrets debian/mitamae/usr/bin/
	echo '============ build_config report'
	for x in mruby/build/mrbgems/*; do ( cd $$x; echo "conf.gem github: '$$(git remote get-url origin)', checksum_hash: '$$(git rev-parse HEAD)'" | sed 's|https://github.com/||g' | sed "s|.git'||"); done
	echo '============='
